.navbar {
    padding-left: 6vw;
    padding-right: 6vw;
}

.navigationBar {
    justify-content: space-between;
}

.userProfile {
    position: relative;
    width: 3em;
    height: 3em;
    overflow: hidden;
    border-radius: 50%;
}

.userProfile img {
    width: 100%;
    height: auto;
}

.mainRow {
    height: 4em;
}

.sortRow {
    height: 4em !important;
}

.nav-link {
    border: none;
    background: none;
    color: black;
    text-align: center;
}

footer {
    position: realtive;
    bottom: 0;
    height: 10vh;
}

.privacylink {
    position: absolute;
    margin-top: 1vh;
    margin-left: 8vw;
}

@media (max-width: 768px) {

    .navbar {
        padding: 0;
    }


    footer {
        text-align: center !important;
        padding: 0 !important;
    }

    .privacylink {
        position: unset;
        margin-top: 40vh !important;
        padding: 0;
    }
}