body {
    width: auto;
}

.container {
    position: relative;
    text-align: left;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    padding: 3%;
}

.maintxt {
    font-size: 3vw;
    margin: 0;
}

.contenttxt {
    font-size: 1vw;
}

.resetpassform {
    margin-top: 30vh;
    padding-right: 2vw;
}

#resettxt {
    color: #414141;
    text-align: center;
    font-size: 1.6em;
}


#resetinstructiontxt {
    color: #414141;
    text-align: center;
    font-size: 1em !important;
}

.form-control {
    height: 2.5em;
    margin-top: 0.3em;
    margin-left: 2vw;
    text-indent: 0.7em;
    width: 25vw !important;
}

label {
    font-size: 1em;
}

.newpass {
    margin-top: 1em;
    padding-left: 2em;
}

.confirmpass {
    margin-top: 1em;
    padding-left: 2em;
}

.changepassbtn {
    margin-top: 4.5vh !important;
    width: 25vw !important;
    text-align: center !important;
    height: 2.2em !important;
    border-radius: 18px !important;
    color: #F88634 !important;
    border: 2px solid #F88634 !important;
}

.loginpage {
    margin-top: 3vh !important;
    text-align: center !important;
    font-size: 1em;
}

.loginlink {
    color: #414141 !important;
    text-decoration: none;
}


footer {
    text-align: center;
    margin-top: 9vh;
    padding-right: 2vh;
}

#privacytxtrp {
    color: #414141 !important;
    text-decoration: none;
    padding-right: 2vw;
}


@media (max-width : 768px) {
    .resetpassform {
        margin-top: 10vh !important;
    }

    .form-control {
        width: 100% !important;
    }

    .contenttxt {
        display: none;
    }

    footer {
        padding-bottom: 2vh;
    }

}